.breadcrumb{
    list-style: none;
   
   }
   
   .breadcrumb li{
       display: inline-block;
       margin-right: 4px; 
       
   }
   
   .breadcrumb li a{
       display: inline-block;
       margin-right: 4px; 
       text-decoration: none;
   }
   
   .breadcrumb {
    margin-top: rem;
    font-size: 0.9rem;
   }