.products {
    display: flex;
    width: 100%;
    margin-top: 16px;
    height: 50%;
}

.display{
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    width: 50%;
    margin-top: 5rem;


}

.display img{
    height: 400px;
}

.description{
    display: flex;
    flex-direction: column;
    width: 50%;
    size-adjust: 0.5rem;
}

.first-block{
    display: flex;
    justify-content: space-between ;
}

.smoothiedog{
    height: 5rem;
    display: flex;
    margin-bottom: 16px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    

    
}   

.rating{
    margin-top: 16px;
    margin-bottom: -16px;
  }

  .ventas{
    margin-bottom: -4px;
  }